@font-face {
    font-family: Pixel;
    src: url(../fonts/Fifaks10Dev1.ttf);
    font-weight: bold;
}

body, html{
    font-family: Pixel;
    font-size: 130%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}
.Main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #110408;
    color: red;
}

.Success{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #041104;
    color: green;
}

.Hidden{
    display: none;
}

.Button{
    cursor: pointer;
    background-color: grey;
    border: 2px darkgrey solid;
    text-align: center;
    color: white;
}

#GameSpace{
    width: 500px;
    height: 500px;
    overflow: hidden;
}

#Status{
    z-index: 10;
    width:200px;
    height: 100px;
}

#Map{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    background-size: cover;
}
#TorchMan{
    position: absolute;
    top: 250px;
    left: 250px;
    width: 53px;
    height: 53px;
    background-image: url("../assets/torchman.svg");
    background-size: cover;
    cursor: pointer;
    transition: top;
    transition: left;
}

#TorchMan:hover{
    background-image: url("../assets/torch-selected.svg");
}

.Torch{
    position: absolute;
    width: 60px;
    height: 90px;
    background-image: url("../assets/torch.gif");
    border-radius: 10px;
    background-size: cover;
    cursor: pointer;
}

.Torch:hover{
    background-color: rgba(255,182,5, 0.3)
}

.TorchTwinckling{
    animation: 2s twinckling infinite;
}

.Road{
    position: absolute;
    background-color: rgba(255,0,0,0.3);
}

@keyframes twinckling {
    10% {
        filter: brightness(90%);
    }
    30% {
        filter: brightness(50%);
    }
    50% {
        filter: brightness(30%);
    }
    70% {
        filter: brightness(50%);
    }
    90% {
        filter: brightness(90%);
    }
}