#Map{
    position: relative;
    width: 400px;
    height: 350px;
    background-color: red;
}
#TorchMan{
    position: absolute;
    top: 70px;
    left: 70px;
    width: 47px;
    height: 53px;
    background-image: url("../assets/torchman.svg");
    background-size: cover;
    z-index: 1000;
}

.Torch{
    position: absolute;
    width: 60px;
    height: 90px;
    background-image: url("../assets/torch.svg");
    background-size: cover;
}

.TorchTwinckling{
    animation: 2s twinckling infinite;
}

.Road{
    position: absolute;
    background-color: aqua;
}

@keyframes twinckling {
    10% {
        filter: brightness(90%);
    }
    30% {
        filter: brightness(50%);
    }
    50% {
        filter: brightness(30%);
    }
    70% {
        filter: brightness(50%);
    }
    90% {
        filter: brightness(90%);
    }
}